# ignore everything
*

# allow code
! CryptoQuote/.gitignore
! CryptoQuote/__init__.py
! CryptoQuote/CryptoQuote.py
! CryptoQuote/LICENSE
! CryptoQuote/README.md
! .dockerignore
! .gitignore
! .gitmodules
! CryptoCurses.py
! Dockerfile
! LICENSE
! README.md